.form-signin{
    width:300px;
    background-color:#8585D1;
    padding:20px;
    margin-left:150px;
    margin-top:200px;
    float:right;
}

#inputPassword{
    margin-top:10px;
}

md-input-container{
    width:100%;
}
md-card{
    
    margin-top:200px;
    margin-left:850px;
    margin-right:150px;
    
    background-color:#C9A9CF;
    margin-bottom: 200px;
}
.vailid{
    color:red;
}
input{
    color:black;
}

