nav{
    background-color:#8950BE;
}

.post{
    padding:20px 15px 18px 30px;
    margin:15px 0px 0px 0px;
    background-color:#3878CC; 
    color:white;     

}

textarea{
    padding:0px;    
    background-color:#CDEBF3; 
    margin:15px 0px 10px 20px;
}