.error{
    background-color: #fff0f0;
}
.container{
    
    margin-right:160px;  
   color:white; 
 
   
}

.col-md-4{
    padding-bottom:20px;
    margin-top:160px;
    float:right;
    background-color:#AAE483;
}
button{
    background-color:#6313F7;
    
    padding-left:30px;
    color:#FCF9F9;
    text-align: center;
}